/* Makes sure the website is fullscreen */
body, html {
    height: 100%;
    margin: 0;
}

/* title with background picture */
.background {
  display: block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: background-image 2s;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  margin: 0px;
  z-index: 2;
  text-align: center;
  color: white;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  transition: font-size 1s;
}
.title:hover {
  font-size: 120px;
}
