.gridContainer{
   background-color: rgb(205, 132, 50);
   height: 820px;
   width: 840px;
   margin: auto;
   padding: 20px 0px 20px 20px;
   border-radius: 8px;
}
.row{
  margin-bottom: 10px;
  float:left
}
.cell {
  width: 80px;
  height: 80px;
  font-size: 66px;
  text-align: center;
  margin-right: 10px;
  background-color: rgb(255, 163, 102);
  float: left;
}
.right{
  margin-right: 20px;
}
.bottom{
  margin-bottom: 20px;
}
.buttons{
  font-size: 20px;
}
